.inlineBlock{
    display:inline-block;
    vertical-align:top;
}
.syuukei{
    display:none;
}
#genreComment{
    font-size:12px;
    margin:5px 0px;
}
.keywordChoiceBox label{
    display:inline-block;
}
.keywordChoiceBox label.check{
    background-color:#ccc;
}