@charset "UTF-8";

/*--------
 Common CSS
--------------*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,button,p,blockquote,th,td {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial,Verdana, sans-serif;
    word-wrap:break-word;
    font-size:16px;
    -webkit-font-smoothing: antialiased;
    color:#333;
}

img{
    vertical-align:middle;
}
.tright{
    text-align:right;
}
.tcenter{
    text-align:center;
}
.xl-margin{
    margin-bottom:40px!important;
}
.l-margin{
    margin-bottom:20px!important;
}
.m-margin{
    margin-bottom:10px!important;
}
.s-margin{
    margin-bottom:5px!important;
}
.xl-margint{
    margin-top:40px!important;
}
.l-margint{
    margin-top:20px!important;
}
.m-margint{
    margin-top:10px!important;
}
.s-margint{
    margin-top:5px!important;
}
.boldFont{
    font-weight:bold;
}
.redFont{
    color:#f00;
}
.xLargeFont{
    font-size:20px;
}
.largeFont{
    font-size:18px;
}
.smallFont{
    font-size:14px;
}
.xSmallFont{
    font-size:12px;
}

/*
共通フォーマット
----------------*/
body{
    background-color:#eee;
}
header{

}
header h1{
    background:linear-gradient(to bottom, #fff,#fff 1%,#A7C5E6 1%,#5D95D4 50%,#3778C2 50%,#72A6E1);
    background:-webkit-linear-gradient(top, #fff,#fff 1%,#A7C5E6 1%,#5D95D4 50%,#3778C2 50%,#72A6E1);
    color:#fff;
    text-align:center;
    padding:10px;
    -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    position: relative;
    text-shadow: 0px -1px 1px #666;
}
header .headerInfo{
    background-color:#999;
    color:#fff;
    padding:5px;
    text-align:right;
    font-size:12px;
}
header .logoutBtn{
    background-color:#eee;
    border:1px solid #666;
    padding:5px;
    font-size:12px;
    border-radius:5px;
}
#container{
    width:1000px;
    margin:20px auto;
}
#wrapper{
    width:100%;
    padding:20px;
    background-color:#fff;
    border:1px solid #ccc;
    border-radius:5px;

}

#wrapper h2{
    border-bottom:1px solid #ccc;
    padding-bottom:5px;
    margin-bottom:10px;
    font-weight:bold;
}

.menuArea{

}
.menuArea .leftBlock{
    float:left;
    width:480px;
}
.menuArea .rightBlock{
    float:right;
    width:480px;
}
.menuArea h3{
    background-color:#3879C2;
    padding:10px;
    color:#fff;
    font-weight:bold;
    border-radius:5px;
    margin:10px 0px;
}
.menuArea ul{
    margin-left:10px;
    margin-bottom:20px;
}
.menuArea ul li{
    margin-bottom:10px;
}
.menuArea ul li::before{
    content:'■';
    padding-right:10px;
    color:#999;
}
h4.subSectionTitH4{
    background-color:#FFFCDB;
    padding:8px 2%;
    border-top:1px solid #f39700;
}
h4.subSectionTitH4 span{
    font-size:16px;
    border-left:5px solid #f39700;
    padding-left:10px;
    color:#000;
}

/* 入力領域テーブル
-------------------------*/
table.formTable{
    border-collapse: separate;
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    width:100%;
}
table.formTable > tbody > tr > th{
    background-color: silver;
    border-color: #FFFFFF #000000 #000000 #FFFFFF;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    width:250px;
}
table.formTable > tbody > tr > td{
    background-color: #FFFFFF;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    font-size: 14px;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    line-height:130%;
}

table.formTable dl{

}
table.formTable dl dt{
    position:absolute;
    width:100px;
    font-size:14px;
}
table.formTable dl dd{
    padding-left:110px;
    font-size:14px;
    margin-bottom:10px;
}


span.require{
    color:#c00;
    font-weight:bold;
}

p.sectionTitle{
    font-size:14px;
    font-weight:bold;
    color:#369;
    margin-bottom:10px;
}


/* リストテーブル
-------------------------*/
table.list{
    width:100%;
    margin-top:20px;
}
table.list th{
    border-bottom:2px solid #ccc;
    padding:5px 20px 5px 10px;
    font-weight:bold;
    font-size:14px;
    background-color:#ddd;
    text-align:left;
}
table.list td{
    padding:5px 20px 5px 10px;
    border-bottom:1px dotted #ccc;
    font-size:14px;
}
table.list tr.expiration{
    background-color:#999;
}
/*------------------------------------------------------------------
リスト
-------------------------------------------------------------------*/

.links{
    border-top: 1px solid #ccc;
    font-size:14px;
    text-align:left;
    line-height:1.4;
}
.links.noBorder{
    border-top:none;
}
.links ul li a{
    position: relative;
    display: block;
    border-bottom: 1px solid #ccc;
    text-decoration:none;
    color:#333;
    padding: 0 4% 10px 2%;
    background:#FDF9F1 url(/common/front/images/arrow01.png) no-repeat 99% center;
    background-size:9px 12px;
}

.links ul li a span.text{
    display:block;
    padding-top:10px;
}
.links ul li a span.date{
    display:block;
    color:#666;
    padding-top:2px;
    font-size:10px;
}

.links ul li a span.deadline{
    display:block;
    color:#c00;
    font-size:12px;
}
.links ul li div.iconArea{
    width:100%;
    line-height:1.3;
}
.links ul li div.iconArea .icon{
    display:inline-block;
    background:#f39700;
    color:#fff;
    padding:2px 1%;
    margin-right:1%;
    margin-bottom:0;
    border-radius:0px 0px 5px 5px;
    -webkit-border-radius:0px 0px 5px 5px;
    font-size:12px;
}

/*
その他テーブル
---------------*/
table.choices{

}
table.choices th,table.choices td{
    text-align:left;
    line-height:150%;
}
table.searchQuery{

}
table.searchQuery th{
    padding:5px;
    text-align:right;
}
table.searchQuery th{
    padding:5px;
}
/*
ボタン系
---------------*/
button.commitBtn{
    border-radius:5px;
    padding:10px 20px;
    color:#fff;
    margin:5px 0px;
    background:linear-gradient(to bottom,#666 0%,#000 100%);
    background: -webkit-linear-gradient(top,#666 0%,#000 100%);
    line-height:150%;
}
button.naviBtn{
    display:inline-block;
    cursor: pointer;
    border: 2px solid #666;
    border-radius: 5px;
    text-shadow: 0px 1px 1px #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    padding: 5px;
    background-color:#eee;
    text-decoration:none;
    color:#000;
    font-size: 14px;
    white-space:nowrap;
    line-height:150%;
    margin-right:5px;
    margin-left:5px;
}
a.naviBtn{
    display:inline-block;
    cursor: pointer;
    border: 2px solid #666;
    border-radius: 5px;
    text-shadow: 0px 1px 1px #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    padding: 5px;
    background-color:#eee;
    text-decoration:none;
    color:#000;
    font-size: 14px;
    white-space:nowrap;
    line-height:150%;
    margin-right:5px;
    margin-left:5px;
}
/*------------------------------------------------------------------
もっと見る
-------------------------------------------------------------------*/
.moreAction{
    background-color:#eee;
    text-align:center;
    display:block;
    text-decoration:none;
    padding:10px;
    border-bottom:1px solid #ccc;
}
.moreAction span{
    display:inline-block;
    background:url(/common/front/images/sp/arrow02.png) no-repeat left center;
    background-size:12px;
    padding-left:15px;
    color:#666;
}

/*
インプット系
---------------*/
input{
    font-size:14px;
}
input.x-large{
    width:450px;
}
input.xx-large{
    width:700px;
}
input.x-small{
    width:100px;
}
input.xx-small{
    width:50px;
}

input[type="file"]{
    width:230px;
}
textarea.x-large{
    width:450px;
}
textarea.xx-large{
    width:700px;
}

/*
フォーム部品系
---------------*/
.img_preview {
    width:150px;
}
ol,ul,span{
    list-style:none;
}


/*
 エラーメッセージ領域
---------------*/
.errorsArea{
    background: #f2dede;
    margin: 10px 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 20px;
}

.errorsArea p{
    margin-bottom: 15px;
    color: #b94a48;
    font-weight: bold;
    font-size: 14px;
}

.errorsArea ul{
    margin: 0;
    padding: 0;
    list-style-type: disc;
    list-style-position: inside;
}

.errorsArea ul li{
    color: #b94a48;
    margin-bottom: 8px;
    font-size: 14px;
}

.errorsArea ul li:last-child{
    margin-bottom: 0;
}

/*
 アンケート検索
---------------*/
#keywordList{
    padding:10px;
}

/*
 アンケート登録画面
---------------*/
dl.questionStatusList{

}
dl.questionStatusList dt{
    width:100px;
    position:absolute;
    padding:5px 0px;
}
dl.questionStatusList dd{
    padding:5px 0px 5px 100px;
}

#choiceListAdd,#choiceListAll{
    margin-top:10px;
}
li.listK{
    line-height:150%;
}

