@charset "UTF-8";

/*
* reset.css
*
*/


/*--------
 Reset CSS
--------------*/

body{
    -webkit-text-size-adjust: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
	background: none;
}

/* ****************************************************
	clearfix
***************************************************** */
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{display:inline-block;}

/*Hidea from IE-mac \*/
*html .clearfix{height:1%;}
.clearfix{display:block;}
/*End hide from IE-mac*/


/* ****************************************************
	general classes
***************************************************** */
.tcenter{text-align:center;}
.tleft{text-align:left;}
.tright{text-align:right;}
.fleft{float:left;}
.fright{float:right;}

.xs-margin{margin-bottom:5px !important;}
.s-margin{margin-bottom:15px !important;}
.m-margin{margin-bottom:25px !important;}
.l-margin{margin-bottom:35px !important;}
.xl-margin{margin-bottom:45px !important;}
.p-margin{margin-bottom:10px !important;}
