.japanmap {

}
.japanmap table{
    margin-left:auto;
    margin-right:auto;
}
.japanmap table td{
    border:1px solid #fff;
    vertical-align:middle;
    text-align:center;
    color:#fff;
    font-weight:bold;
    padding:2px 0px;
    background:#888888;
}
.japanmap table td.hidden{background:#fff;}

.japanmap table td.w30{width:3%;}
.japanmap table td.w60{width:6%;}


.japanmap table td.max.hokkaidou{padding:19px 0;}
.japanmap table td.boR2{border-right:2px solid #86c2fe;}
.japanmap table td.boRB2{border-right:2px solid #86c2fe; border-bottom:2px solid #86c2fe;}
.japanmap  table td.boB2{border-bottom:2px solid #86c2fe;}

.japanmap table td.rank1{background:#E70012;}
.japanmap table td.rank2{background:#F1BD00;}
.japanmap table td.rank3{background:#77BB18;}
.japanmap table td.rank4{background:#2D82CF;}
.japanmap table td.rank5{background:#7758A2;}