@charset "UTF-8";

.test{
    margin: 0;
}

input.naviBtn{
    display:inline-block;
    cursor: pointer;
    border: 2px solid #666;
    border-radius: 5px;
    text-shadow: 0px 1px 1px #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    padding: 5px;
    background-color:#eee;
    text-decoration:none;
    color:#000;
}

section#topButtonArea{
    margin: 15px 0;
}