@charset "utf-8";
/* CSS Document */

/* --------------------------------------------------------
  リセット
-------------------------------------------------------- */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,span{
    margin:0;padding:0;
}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{
    display:block;
}
h1,h2,h3,form,p,ul,li,ol,dl,dt,dd{
    margin:0;
    padding:0;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img{
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var{
    font-style:normal;
    font-weight:normal;
}
ol,ul,span{
    list-style:none;
}
caption,th{
    text-align:left;
}
h1,h2,h3,h4,h5,h6,big,small{
    font-size:100%;
    font-weight:normal;
}
select,input,textarea{
    font-size:100%;
}
b,strong{
    font-weight:bold;
}
em{
    font-style:normal;
}
a{
    color:#006699;
    -webkit-tap-highlight-color:rgba(0,0,0,0.25);
    font-size:100%;
    text-decoration:underline;
}
noscript a:link,noscript a:visited,noscript a:active{
    text-decoration:underline;
    color:#000;
    line-height:100%;
    text-decoration:underline;
    margin:auto;padding:0;
}

.clearfix {zoom:1;}
.clearfix:after {content:'';display:block;clear:both;height:0;}


/*------------------------------------------------------------------
スマートフォン用スタイル
-------------------------------------------------------------------*/

body{
    color:#595757;
    width:100%;
    background:#fff;
    line-height:1.4;
    font-size:16px;
    -webkit-text-size-adjust:none;
    font-family: sans-serif;
    word-wrap:break-word;
    overflow-x: hidden;
}


a{
    text-decoration:none;
}

.tright{
    text-align:right;
}
.tcenter{
    text-align:center;
}
.l-margin{
    margin-bottom:20px!important;
}
.m-margin{
    margin-bottom:10px!important;
}
.s-margin{
    margin-bottom:5px!important;
}
.l-margint{
    margin-top:20px!important;
}
.m-margint{
    margin-top:10px!important;
}
.s-margint{
    margin-top:5px!important;
}
.lrMargin{
    margin-left:2%;
    margin-right:2%;
}

.boldFont{
    font-weight:bold;
}
.orangeFont{
    color:#f39700;
}
/*------------------------------------------------------------------
レイアウト
-------------------------------------------------------------------*/
#container{
    overflow:hidden;
    height:auto;
}
#container #wrapper{
    -webkit-transition: -webkit-transform 500ms ease;
    transition: transform 500ms ease;
    position:relative;
}
.menuOpen #wrapper{
    -webkit-transform: translate3d(-250px, 0, 0);
    transform: translate3d(-250px, 0, 0);
}
#wrapper #mainMenu{
    width:250px;
    position:absolute;
    top:0;
    left:100%;
}
#wrapper #mainContents{
    width:100%;
    position:relative;
}
.menuOpen #wrapper #mainContents a#menuOpenLayer{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:1000;
    background-color:rgba(0,0,0,0.6);
}
.entryEmptyMsg{margin: 15px 2%;}

/*------------------------------------------------------------------
top
-------------------------------------------------------------------*/
#top{
    border-top:8px #f39700 solid;
    border-bottom:1px #ccc solid;
    padding-top:10px;
    width:100%;
    overflow:hidden;
}
#top h1 {
    float: left;
    padding-top: 4px;
    padding-left: 4%;
}
#top h1 img {
    height: 60px;
}
#top p.switch,
#top p.mypage{
    float:right;
    padding:8px 8px;
}
#top p.mypage{
    text-align:left;
    position:relative;
}
#top p.mypage span{
    position:absolute;
    left:0;
    top:10px;
}
#top p img{
    width:36px;
}
#top p.mypage span img{
    width:15px;
}

/*------------------------------------------------------------------
mainMenu
-------------------------------------------------------------------*/
#mainMenu p.mainMenuTit{
    font-size:16px;
    text-align:center;
    padding:10px 0px;
    border-bottom:1px solid #ccc;
    color:#f39700;
}
#mainMenu ul li a{
    position: relative;
    display: block;
    border-bottom: 1px solid #ccc;
    color:#333;
    padding:10px;
    background:#efefef url(/common/front/images/sp/arrow01.png) no-repeat 98% center;
    background-size:9px 12px;
}


/*------------------------------------------------------------------
NEWS
-------------------------------------------------------------------*/
.newsBox dl.news{
    text-align:left;
    border:1px #b1aead solid;
    margin:15px 2%;
    font-size:14px;
}
.newsBox dl.news dt,
.newsBox dl.news dd{
    padding:5px 2%;
}
.newsBox dl.news dt{
    background:#efefef;
}
.newsBox dl.news dt a{
    display: block;
    color:#595757;
    background:url(/common/front/images/sp/arrow01.png) no-repeat right center;
    background-size:9px 12px;
}
.newsBox dl.news dd{
    color:#898989;
}

/*------------------------------------------------------------------
プロフィール設定バナー
-------------------------------------------------------------------*/

.profileBn{
    padding:0;
    margin-bottom:20px;
    text-align:center;
}
.profileBn img{
    width:278px;
}

/*------------------------------------------------------------------
page-top
-------------------------------------------------------------------*/
.page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.page-top a {
    text-decoration: none;
    color: #fff;
    padding: 20px 20px;
    text-align: center;
    display: block;
    border-radius: 5px;
    background:#999 url(/common/front/images/sp/totop.png) no-repeat center center;
    background-size:17px 13px;
}


/*------------------------------------------------------------------
フッター
-------------------------------------------------------------------*/
footer{
    background:#e9e9e9;
    border-top:10px #f39700 solid;
    padding:0 1% 0;
    text-align:left;
}
footer ul{
    padding-top:5px;
}
footer ul li{
    display:inline-block;
    padding:0px 2px;
}
footer ul li a{
    color:#595757;
    padding-right:10px;
    border-right:1px #bfc0c0 solid;
    font-size:14px;
}
footer ul li:last-child a{
    border-right:none;
}
footer address{
    font-style:normal;
    color:#9fa0a0;
    padding:5px 0px;
    font-size:12px;
}

/*------------------------------------------------------------------
subSectionTit
-------------------------------------------------------------------*/

.subSectionTit{
    background:#f39700;
    font-size:16px;
    color:#fff;
    text-align:left;
    padding:8px 5px 8px 25px;
    font-weight:bold;
}
.subSectionTit.evaluateIcon{
    background:#f39700 url(/common/front/images/sp/icon_evaluate.png) no-repeat 5px center;
    background-size:18px 16px;
    font-weight:bold;
}
.subSectionTit.genreIcon{
    background:#f39700 url(/common/front/images/sp/icon_genre.png) no-repeat 5px center;
    background-size:16px 16px;
    font-weight:bold;
}
.subSectionTit.searchIcon{
    background:#f39700 url(/common/front/images/sp/icon_search.png) no-repeat 5px center;
    background-size:18px 18px;
    font-weight:bold;
}
.subSectionTit.resultIcon{
    background:#f39700 url(/common/front/images/sp/icon_result.png) no-repeat 5px center;
    background-size:18px 18px;
    font-weight:bold;
}
.subSectionTit.recommendIcon{
    background:#f39700 url(/common/front/images/sp/icon_recommend.png) no-repeat 5px center;
    background-size:18px 18px;
    font-weight:bold;
}
.subSectionTit.entryIcon{
    background:#f39700 url(/common/front/images/sp/icon_entry.png) no-repeat 5px center;
    background-size:18px 18px;
    font-weight:bold;
}
.subSectionTit.columnIcon{
    background:#f39700 url(/common/front/images/sp/icon_column.png) no-repeat 5px center;
    background-size:18px 18px;
    font-weight:bold;
}
.subSectionTit.relationIcon{
    background:#f39700 url(/common/front/images/sp/icon_relation.png) no-repeat 5px center;
    background-size:18px 18px;
    font-weight:bold;
}
.subSectionTit.appliIcon{
    background:#f39700 url(/common/front/images/sp/icon_pickup.png) no-repeat 5px center;
    background-size:18px 18px;
    font-weight:bold;
}
.subSectionTit.snsIcon{
    background:#f39700 url(/common/front/images/sp/icon_sns.png) no-repeat 5px center;
    background-size:18px 18px;
    font-weight:bold;
}
.subSectionTit.featureIcon{
    background:#f39700 url(/common/front/images/sp/icon_feature.png) no-repeat 5px center;
    background-size:18px 18px;
    font-weight:bold;
}



h3.listSectionTit{
    background-color:#FFFCDB;
    padding:8px 2%;
    border-top:1px solid #f39700;
    margin:10px 0px 0px 0px;
}
h3.listSectionTit span{
    font-size:16px;
    border-left:5px solid #f39700;
    padding-left:10px;
    color:#000;
}


h4.subSectionTitH4{
    background-color:#FFFCDB;
    padding:8px 2%;
    border-top:1px solid #f39700;
}
h4.subSectionTitH4 span{
    font-size:16px;
    border-left:5px solid #f39700;
    padding-left:10px;
    color:#000;
}

/*------------------------------------------------------------------
関連ワード
-------------------------------------------------------------------*/
.relationBox .keywords{
    background:#fffcdb;
    text-align:left;
    padding:10px 3%;
    margin-bottom:15px;
}
.relationBox .keywords h3{
    font-size:14px;
    color:#3e3a39;
    padding-bottom:5px;
    font-weight:bold;
}
.relationBox .keywords .words{
    padding:0px 10px;
}
.relationBox .keywords .words li{
    display:inline-block;
    font-size:14px;
}
.relationBox .keywords .words li a{
    display:inline-block;
    padding:3px 5px 3px 0;

    text-decoration:underline;
}

.relationBox .keywords .breadcrumb li:first-child:after{
    content:' > ';
}

/*------------------------------------------------------------------
ジャンルアコーディオン
-------------------------------------------------------------------*/
ul.accordion p>span{
    display: block;
    border-bottom: 1px solid #ccc;
    color:#333;
    padding: 10px 0 10px 2%;
    cursor:pointer;
    background:url(/common/front/images/sp/arrow02.png) no-repeat 98% center;
    background-size:12px 9px;
}
ul.accordion p>span.open{
    background:url(/common/front/images/sp/arrow03.png) no-repeat 98% center;
    background-size:12px 9px;
}
ul.accordion ul{
    display:none;
}
ul.accordion ul li a{
    padding:10px 3%;
    background:#f0f0f0 url(/common/front/images/sp/arrow01.png) no-repeat 98% center;
    background-size:9px 12px;
}
/*------------------------------------------------------------------
検索ボックス
-------------------------------------------------------------------*/
.search ul{
    width:90%;
    margin:10px auto;
    display: box;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    border: 1px #c9caca solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-align:left;
}
.search ul li.search-key{
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-border-radius:5px 0px 0px 5px;
    border-radius:5px 0px 0px 5px;
}
.search ul li.search-bt{
    width:20%;
    border-left:1px #c9caca solid;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
    text-align:center;
    -webkit-border-radius:0px 5px 5px 0px;
    border-radius:0px 5px 5px 0px;
    font-size:14px;
}
.search ul li.search-bt input{
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
    -webkit-border-radius:0px 5px 5px 0px;
    border-radius:0px 5px 5px 0px;
}
.search ul li input{
    border:none;
    padding:8px 5px;
}
.search ul li.search-key input{
    width:95%;
    font-size:14px;
    -webkit-border-radius:5px 0px 0px 5px;
    border-radius:5px 0px 0px 5px;
}



/*------------------------------------------------------------------
リスト
-------------------------------------------------------------------*/

.links{
    border-top: 1px solid #ccc;
    font-size:14px;
    text-align:left;
}
.links.noBorder{
    border-top:none;
}
.links ul li a{
    position: relative;
    display: block;
    border-bottom: 1px solid #ccc;
    color:#333;
    padding: 0 4% 10px 2%;
    background:#FDF9F1 url(/common/front/images/sp/arrow01.png) no-repeat 99% center;
    background-size:9px 12px;
}

.links ul li a span.text{
    display:block;
    padding-top:10px;
}
.links ul li a span.date{
    display:block;
    color:#666;
    padding-top:2px;
    font-size:10px;
}

.links ul li a span.deadline{
    display:block;
    color:#c00;
    font-size:12px;
}
.links ul li div.iconArea{
    width:100%;
    line-height:1.3;
}
.links ul li div.iconArea .icon{
    display:inline-block;
    background:#f39700;
    color:#fff;
    padding:2px 1%;
    margin-right:1%;
    margin-bottom:0;
    border-radius:0px 0px 5px 5px;
    -webkit-border-radius:0px 0px 5px 5px;
    font-size:12px;
}

/*------------------------------------------------------------------
アンケート以外のリスト
-------------------------------------------------------------------*/
ul.otherList{
    border-top:1px solid #ccc;
}
ul.otherList li a{
    display:block;
    padding:20px 3%;
    background:url(/common/front/images/sp/arrow01.png) no-repeat 98% center;
    background-size:9px 12px;
    border-bottom:1px solid #ccc;
    color:#333;
    font-size:14px;
}

/*------------------------------------------------------------------
もっと見る
-------------------------------------------------------------------*/
.moreAction{
    background-color:#eee;
    text-align:center;
    display:block;
    text-decoration:none;
    padding:10px;
    border-bottom:1px solid #ccc;
}
.moreAction span{
    display:inline-block;
    background:url(/common/front/images/sp/arrow02.png) no-repeat left center;
    background-size:12px;
    padding-left:15px;
    color:#666;
}

/*------------------------------------------------------------------
一覧ナビ
-------------------------------------------------------------------*/
.gotoListArea{
    margin:10px 2% 20px 2%;
    text-align:right;
}
.gotoListArea a{
    font-size:14px;
    background:url('/common/front/images/sp/gotolist.png') no-repeat left center;
    background-size:9px;
    padding-left:14px;
    text-decoration:underline;
}

/*------------------------------------------------------------------
おすすめリスト
-------------------------------------------------------------------*/
.recommendList ul li a{
    position: relative;
    display: block;
    border-bottom: 1px solid #ccc;
    color:#333;
    padding: 10px 4% 10px 2%;
    background:#fff url(/common/front/images/sp/arrow01.png) no-repeat 99% center;
    background-size:9px 12px;
}
.recommendList ul li a .recommendListBox{
    display: box;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    width:100%;
}

.recommendList ul li a .recommendListBox img.recommendImage{
    padding-right:10px;
    width:72px;
}

.recommendList ul li a .recommendListBox .recommendText{
    font-size:14px;
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    text-align:left;
}

/*------------------------------------------------------------------
ボタン
-------------------------------------------------------------------*/
/* btnType01 */
.btnType01{
    padding:2px 20px 2px 7px;
    position: relative;
    display: inline-block;
    color:#595757;
    border:1px #b2b2b2 solid;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align:left;
    font-size:14px;
    cursor:pointer;
}
.btnType01::after {
    position: absolute;
    top: 45%;
    right: 7px;
    content: '';
    width: 10px;
    height: 10px;
    margin-top: -4px;
    background:url(/common/front/images/sp/arrow01.png) no-repeat right center;
    background-size:9px 12px;
}

/* btnType02 */
.btnType02{
    position: relative;
    display: inline-block;
    padding: 10px 35px 10px 15px;
    color:#595757;
    border:1px #b2b2b2 solid;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size:14px;
    cursor:pointer;
}
.btnType02:after{
    position:absolute;
    top: 30%;
    right: 7px;
    content: '';
    width: 15px;
    height: 15px;
    background:url(/common/front/images/sp/arrow01.png) no-repeat 90% center;
    background-size:9px 12px;
}
/* btnType03 */
.btnType03{
    margin-top:7px;
    position: relative;
    display: inline-block;
    padding: 10px 35px;
    color:#fff;
    border:1px #b2b2b2 solid;
    background:#f39700;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size:14px;
    cursor:pointer;
    font-weight:bold;
    box-shadow:2px 2px 2px rgba(0,0,0,0.2);
}

/*------------------------------------------------------------------
ソーシャルボタン
-------------------------------------------------------------------*/
/*結果ページ*/
div.sharebtnarea{
    margin:20px 0px;
}
.sharebtn{
    margin:0;
    padding-top:5px;
    padding-bottom:5px;
    background-color:#eee;
    border:1px solid #eee;
}
.sharebtn .socialRead{
    margin:0 3%;
    text-align:center;
    font-size:14px;
    padding:2px;
    color:#f39700;
    font-weight:bold;
}

.sharebtn ul{
    text-align:center;
}
.sharebtn ul li{
    margin:0 5px;
    display:inline-block;
}
.sharebtn ul li .socialbtn{
    width:50px;
}

.sharebtn ul li .shareCount{
    position: relative;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    text-align: center;
    margin-bottom:10px;
}
.sharebtn ul li .shareCount:after, .shareCount:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.sharebtn ul li .shareCount:after {
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #ffffff;
    border-width: 5px;
    margin-left: -5px;
}
.shareCount:before {
    border-color: rgba(204, 204, 204, 0);
    border-top-color: #cccccc;
    border-width: 6px;
    margin-left: -6px;
}

/*------------------------------------------------------------------
みんなの声とはページ
-------------------------------------------------------------------*/
h2.guideTit{
    background:#f39700;
    text-align:center;
    padding:8px 2%;
    position:relative;

}
h2.guideTit span{
    display:inline-block;
    background:url(/common/front/images/sp/icon_guide.png) no-repeat 5px center;
    background-size:18px 18px;
    font-size:16px;
    color:#fff;
    font-weight:bold;
    padding-left:30px;
}
h3.guideSubTit{
    background:url(/common/front/images/sp/help_subtit_ico.png) no-repeat 5px center;
    background-size:30px 30px;
    font-size:16px;
    color:#f39700;
    font-weight:bold;
    padding:8px 2% 8px 40px;
}

.helpImageArea{
    text-align:center;
}
.helpImageArea img{
    width:100%;
    max-width:320px;
}
/* btnTypeHelp */
.btnTypeHelp{
    position: relative;
    display: inline-block;
    padding: 10px 35px 10px 15px;
    color:#f39700;
    font-weight:bold;
    border:1px #b2b2b2 solid;
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size:14px;
    cursor:pointer;
}
.btnTypeHelp:after{
    position:absolute;
    top: 30%;
    right: 7px;
    content: '';
    width: 15px;
    height: 15px;
    background:url(/common/front/images/sp/arrow01.png) no-repeat 90% center;
    background-size:9px 12px;
}

/*共通フッターコンテンツ*/
.socialLink{
    padding-top:10px;
    text-align:center;
}
.socialLink img{
    width:125px;
}


.noResults{
    padding: 10px 2%;
    color: #888888;
}

/*エラーメッセージ*/
.profileErrorMsg{
    text-align:center;
    color:#c00;
    font-weight:bold;
    margin-bottom:10px;
    margin-top:10px;
}


