@charset "UTF-8";

/*--------
 contents CSS
--------------*/

.featureKeyword{
    padding:5px;
    background-color:#333;
    border-radius:5px;
    color:#fff;
}
.featureKeyword a{
    display:inline-block;
    padding:2px 5px;
    background-color:#eee;
    border:1px solid #ccc;
    border-radius:3px;
    color:#333;
    text-decoration:none;
}

.featureBox{
    background-color:#eee;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}
.featureBox .tit{
    font-weight:bold;
    border-bottom:1px solid #ccc;
    padding:0px 0px 2px 0px;
    margin:0px 0px 5px 0px;
}

ul.voteList{
    border-top:1px dotted #ccc;
}
ul.voteList li{
    border-bottom:1px dotted #ccc;
    background:url(../images/sp/arrow.png) no-repeat right center;
}
ul.voteList li a{
    padding:10px 20px 10px 0px;
    display:block;
    text-decoration:none;
    color:#333;
}
ul.voteList li a span.genre{
    display:inline-block;
    background-color:#333;
    color:#fff;
    font-size:12px;
    padding:2px 5px;
}
ul.voteList li a span.voteTit{
    display:block;
    padding:2px 0px;
}
ul.voteList li a span.voteDate{
    display:block;
    padding:2px 0px;
    color:#999;
    font-size:10px;
}

ul.voteList li a.moreAction{
    background-color:#eee;
    text-align:center;
}

/* アコーディオン */
dl.openCloseContents{
    background-color:#fff;
    border-top:1px solid #ccc;
}
dl.openCloseContents dt{
    padding:10px;
    background:url('../images/sp/arrow_down.png') no-repeat 98% center;
    background-size:14px;
    border-bottom:1px solid #ddd;
    color:#333;
    cursor:pointer;
}
dl.openCloseContents dt.openContentsDT{
    background:url('../images/sp/arrow_up.png') no-repeat 98% center;
    background-size:14px;
}
dl.openCloseContents dd{
    display:none;
}
dl.openCloseContents dd ul li{
    border-bottom:1px dotted #ccc;
    background-color:#eee;
}
dl.openCloseContents dd ul li a{
    padding:10px 0px 10px 20px;
    display:block;
    text-decoration:none;
    color:#333;
    background:url(../images/sp/arrow.png) no-repeat 98% center;
}


/*
投票
-------------------*/
.answerBox dl{

}
.answerBox dl dt{
    position:absolute;
    width:50px;
    padding:5px;
}
.answerBox dl dd{
    padding:10px 5px 10px 50px;
    border-bottom:1px solid #ccc;
}
.answerBox ul{
    border-top:1px solid #ccc;
    width:100%;
    overflow:hidden;
}
.answerBox ul li{
    padding:20px 5px 20px 10px;
    border-bottom:1px solid #ccc;
    cursor:pointer;
    position:relative;
}

.answerBox ul li:before{
    content:'○';
    display:inline-block;
    margin-right:20px;
}
.answerBox ul li.active{
    background-color:#eee;
}
.answerBox ul li.active:before{
    content:'●';
    display:inline-block;
    margin-right:20px;
}
.answerBox ul li a{
    position:absolute;
    top:15px;
    left:100%;
    display:block;
    color:#fff;
    text-decoration:none;
    border-radius:5px;
    padding:5px;
    background:linear-gradient(to bottom,#666 0%,#333 100%);
    background: -webkit-linear-gradient(top,#666 0%,#333 100%);
    font-size:14px;
    width:30px;
    text-align:center;
}

a.commitBtn{
    display:inline-block;
    color:#fff;
    text-decoration:none;
    border-radius:5px;
    padding:5px;
    background:linear-gradient(to bottom,#666 0%,#333 100%);
    background: -webkit-linear-gradient(top,#666 0%,#333 100%);
    font-size:14px;
}
/*
結果リスト
-------------------*/
.resultTable{
    margin-left:20px;
    margin-right:20px;
}
.resultTable table{
    width:100%;
}
.resultTable table td.my{
    width:30px;
}
.resultTable table td.lank{
    width:50px;
    text-align:center;
}
.resultTable table td.lank .lankNo1{
    background-color:#666;
    color:#fff;
    padding:5px 10px;
    font-weight:bold;
    font-size:18px;
    line-height:1;
    display:inline-block;
}
.resultTable table td.answer{

}
.resultTable table td.answer .barArea span{
    display:inline-block;
    background-color:#ccc;
    height:14px;
}
.resultTable table td.data{
    width:80px;
    text-align:right;
}
.resultTable table td{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding:2px 0px;
    
}

.resultTable table tr.otherLanking{
    display:none;
}
.resultTable a.moreAction{
    background-color:#eee;
    text-align:center;
    display:block;
    text-decoration:none;
    padding:10px;
    color:#333;
}

table.resultPrevNext{
    width:100%;
}



/*
属性
-----------------------*/
.profileChoice table tr{
    cursor:pointer;
}
.profileChoice table tr.active td{
    background-color:#eee;
}

/*
プロフィール
-----------------------*/
dl.profileDL{
    
}
dl.profileDL dt{
    position:absolute;
    width:100px;
    background-color:#eee;
    padding:5px;
}
dl.profileDL dd{
    padding:5px 5px 5px 120px;
}

/*
アプリサイトピックアップ
-------------------*/
.cpsitePU_clearfix {/zoom:1;}
.cpsitePU_clearfix:after, {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
#cpsitePU_list ul {
	list-style: none outside none;
	margin: 0;
}
#cpsitePU_list {
	margin: 10px 5px 30px;
	font-size: 14px;
}
#cpsitePU_list:after {
	clear: both;
	content: "";
	display: block;
	height: 0;
}
#cpsitePU_list h2 {
	margin: 0;
	padding:0 9px;
	background:-webkit-gradient(linear, left top, left bottom, from(#C71232), to(#8E0D24));
	background:-moz-linear-gradient(top, #C71232, #8E0D24);
	background:-o-linear-gradient(top, #C71232, #8E0D24);
	background-color:#C71232;
	height:30px;
	font-size: 100%;
	font-weight: normal;
	-webkit-border-radius:3px;
		-moz-border-radius:3px;
			-o-border-radius:3px;
				border-radius:3px;
}
#cpsitePU_list h2 span {
	background-attachment: scroll;
	background-clip: border-box;
	background-color: transparent;
	background-image: url("http://service.smt.docomo.ne.jp/portal/img/low_subttl.png");
	background-origin: padding-box;
	background-position: 0 6px;
	background-repeat: no-repeat;
	background-size: 5px 17px;
	color: #FBFFFF;
	display: block;
	font-size: 110%;
	padding-left: 10px;
	padding-top: 6px;
}
ul.cpsitePU_icn_link {
	clear: both;
	padding: 7px 5px 0 7px;
}
ul.cpsitePU_icn_link li {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
					box-sizing: border-box;
	display: table;
	float: left;
	padding-right: 2px;
	padding-bottom: 2px;
	width: 100%;
}
ul.cpsitePU_icn_link li a {
	color: #000000;
	margin: auto;
	text-decoration: none;
	display: table-cell;
	padding: 5px 3px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
			-o-border-radius: 5px;
					border-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ecebeb));
	background: -moz-linear-gradient(top, #ffffff, #ecebeb);
	background: -o-linear-gradient(top, #ffffff, #ecebeb);
	font-size: 12px;
	line-height: 1.2;
	vertical-align: middle;
}
ul.cpsitePU_icn_link li a img {
	float: left;
	height: 46px;
	margin-right: 6px;
	width: 46px;
	vertical-align: text-bottom;
	border: 0 none;
}
ul.cpsitePU_icn_link li a b {
	color: #CA1233;
	display: block;
	font-size: 14px !important;
	font-weight: normal;
	margin: 0 -5px 0 0;
}
ul.cpsitePU_icn_link li a p {
	margin: 0;
}

/* tabNavi */
ul.tabNavi{

}
ul.tabNavi li{
    float:left;
    width:50%;
    text-align:center;
    background-color:#999;
    box-sizing:border-box;
    padding:10px 5px;
    border:1px solid #666;
    border-bottom:none;
    cursor:pointer;
    color:#fff;
    border-radius:5px 5px 0px 0px;
    margin-top:20px;
}
ul.tabNavi li.active{
    background-color:#fff;
    color:#333;
    padding:20px 5px;
    margin-top:0px;
    font-weight:bold;
}
.tabBlock{
    border-bottom:1px solid #999;
}




