@charset "UTF-8";

/**************** ENTRY **************************/

/*------------------------------------------------------------------
見出し
-------------------------------------------------------------------*/
h2.entryTit{
    background:#f39700 url(../images/sp/icon_entry.png) no-repeat 5px center;
    background-size:18px 18px;
    font-size:16px;
    color:#fff;
    text-align:left;
    padding:8px 2% 8px 30px;
    position:relative;
    font-weight:bold;
}
h2.entryTit a{
    position:absolute;
    right:2%;
    top:50%;
    margin-top:-12px;
    font-size:14px;
    font-weight:normal;
}
h2.resultTit{
    background:#f39700 url(../images/sp/icon_result.png) no-repeat 5px center;
    background-size:18px 18px;
    font-size:16px;
    color:#fff;
    text-align:left;
    padding:8px 2% 8px 30px;
    position:relative;
    font-weight:bold;
}

/*------------------------------------------------------------------
設問
-------------------------------------------------------------------*/
.questionInfoBox{
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
}
.questionInfoBox h1{
    font-size:16px;
    color:#000;
    padding-bottom:7px;
    margin-bottom:7px;
    border-bottom:1px solid #f39700;
}
.questionInfoBox .questionText{
    font-size:14px;
}

.entryCountInfo{
    background-color:#FFFCDB;
    padding:5px;
    text-align:center;
    font-size:14px;
}



/*------------------------------------------------------------------
選択肢
-------------------------------------------------------------------*/
.answerBox ul{
    border-top:1px solid #ccc;
    width:100%;
    overflow:hidden;
}
.answerBox ul li{
    padding:20px 45px 20px 10px;
    border-bottom:1px solid #ccc;
    cursor:pointer;
    position:relative;
    font-size:14px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.answerBox ul li:after{
    content:'';
    width:20px;
    height:20px;
    position:absolute;
    top:50%;
    right:15px;
    margin-top:-10px;
    background:url('../images/sp/answeroff.png') no-repeat center center;
    background-size:20px;
}
.answerBox ul li.active{
    background:#f39700;
    color:#fff;
}

.answerBox ul li a{
    position:absolute;
    z-index:10;
    top:50%;
    left:100%;
    margin-top:-15px;
    display:block;
    color:#fff;
    text-decoration:none;
    border-radius:5px;
    padding:5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
    background:linear-gradient(to bottom,#666 0%,#333 100%);
    background: -webkit-linear-gradient(top,#666 0%,#333 100%);
    font-size:14px;
    width:60px;
    text-align:center;
    font-weight:bold;
}
.answerBox ul li button{
    position:absolute;
    z-index:10;
    top:50%;
    left:100%;
    margin:-20px 0 0 0;
    color:#fff;
    text-decoration:none;
    border-radius:5px;
    padding:10px 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
    background:linear-gradient(to bottom,#666 0%,#333 100%);
    background: -webkit-linear-gradient(top,#666 0%,#333 100%);
    font-size:14px;
    width:85px;
    text-align:center;
    font-weight:bold;
    border: none;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    cursor: pointer;
    white-space:nowrap;
}

.restraintInfo{
    text-align:center;
    padding-top:3px;
    padding-bottom:3px;
    font-size:16px;
}


.answerBtnBottomArea{
    text-align:center;
}
button.answerBtnBottom {
    width: 270px;
    height: 47px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #d27201;
    background: #fda432;
    background: -moz-linear-gradient(top, #fda432 0%, #e05001 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fda432), color-stop(100%,#e05001));
    background: -webkit-linear-gradient(top, #fda432 0%,#e05001 100%);
    background: linear-gradient(to bottom, #fda432 0%,#e05001 100%);
    box-shadow:2px 2px 3px rgba(0,0,0,0.2);
    font-size: 16px;
    color: #ffffff;
    cursor:pointer;
}

