@charset "UTF-8";

/*------------------------------------------------------------------
特集枠
-------------------------------------------------------------------*/
.featureBox h2{
    background:#f39700;
    font-size:16px;
    color:#fff;
    text-align:left;
    padding:8px 5px;
    position:relative;
}
.featureBox h2 span{
    border-left:3px #fff solid;
    padding-left:10px;
    font-weight:bold;
}

.featureBox .wrap{
    padding:10px 2%;
}

.featureBox .wrap .featureBlock{
    display: box;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    width:100%;
}

.featureBox .wrap .featureBlock img.featureImage{
    padding-right:10px;
    width:72px;
}

.featureBox .wrap  .featureBlock .featureContents{
    font-size:14px;
    box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    text-align:left;
}