@charset "UTF-8";

/**************** GUIDE **************************/

/*------------------------------------------------------------------
見出し
-------------------------------------------------------------------*/
h2.guideTit{
    background:#f39700 url(../images/sp/icon_guide.png) no-repeat 5px center;
    background-size:18px 18px;
    font-size:16px;
    color:#fff;
    text-align:left;
    padding:8px 2% 8px 30px;
    position:relative;
    font-weight:bold;
}



