
/*
* import.css
*
* Copyright 2014, softbankMobile
*
* Date: Thu Mar 13 2014
*/

/*
@import url("common.css") screen and (min-width : 600px);
@import url("common_sp.css") screen and (max-width : 599px);
@import url("style.css") screen and (min-width : 940px);
@import url("sp.css") screen and (max-width : 939px);
*/

@import url("common.css") screen;
@import url("contents.css") screen;

