@charset "UTF-8";

/**************** Info **************************/

/*------------------------------------------------------------------

-------------------------------------------------------------------*/

.infoBlock{
    padding:20px 2% !important;
}
.infoBlock h2.infoTit{
    border-bottom:1px solid #f39700 !important;
    padding-bottom:5px !important;
    margin-bottom:5px !important;
    font-size:16px !important;
    color:#000 !important;
    text-align:left !important;
    font-weight:normal !important;
}
.infoBlock .infoContents{
    margin-bottom:20px !important;
}


