@charset "UTF-8";

/**************** LIST **************************/

/*------------------------------------------------------------------
見出し
-------------------------------------------------------------------*/
h2.entryListTit{
    background:#f39700 url(../images/sp/icon_entry.png) no-repeat 5px center;
    background-size:18px 18px;
    font-size:16px;
    color:#fff;
    text-align:left;
    padding:8px 2% 8px 30px;
    position:relative;
    font-weight:bold;
}
h2.resultListTit{
    background:#f39700 url(../images/sp/icon_result.png) no-repeat 5px center;
    background-size:18px 18px;
    font-size:16px;
    color:#fff;
    text-align:left;
    padding:8px 2% 8px 30px;
    position:relative;
    font-weight:bold;
}
h2.mypageListTit{
    background:#f39700 url(../images/sp/icon_mypage.png) no-repeat 5px center;
    background-size:18px 18px;
    font-size:16px;
    color:#fff;
    text-align:left;
    padding:8px 2% 8px 30px;
    position:relative;
    font-weight:bold;
}
h2.genreListTit{
    background:#f39700 url(../images/sp/icon_genre.png) no-repeat 5px center;
    background-size:18px 18px;
    font-size:16px;
    color:#fff;
    text-align:left;
    padding:8px 2% 8px 30px;
    position:relative;
    font-weight:bold;
}
h2.keywordListTit{
    background:#f39700 url(../images/sp/icon_keyword.png) no-repeat 5px center;
    background-size:18px 18px;
    font-size:16px;
    color:#fff;
    text-align:left;
    padding:8px 2% 8px 30px;
    position:relative;
    font-weight:bold;
}
h2.newListTit{
    background:#f39700 url(../images/sp/icon_new.png) no-repeat 5px center;
    background-size:18px 18px;
    font-size:16px;
    color:#fff;
    text-align:left;
    padding:8px 2% 8px 30px;
    position:relative;
    font-weight:bold;
}
h2.popularListTit{
    background:#f39700 url(../images/sp/icon_popular.png) no-repeat 5px center;
    background-size:18px 18px;
    font-size:16px;
    color:#fff;
    text-align:left;
    padding:8px 2% 8px 30px;
    position:relative;
    font-weight:bold;
}
h2.featureListTit{
    background:#f39700 url(../images/sp/icon_feature.png) no-repeat 5px center;
    background-size:18px 18px;
    font-size:16px;
    color:#fff;
    text-align:left;
    padding:8px 2% 8px 30px;
    position:relative;
    font-weight:bold;
}
h2.columnListTit{
    background:#f39700 url(../images/sp/icon_column.png) no-repeat 5px center;
    background-size:18px 18px;
    font-size:16px;
    color:#fff;
    text-align:left;
    padding:8px 2% 8px 30px;
    position:relative;
    font-weight:bold;
}


/*------------------------------------------------------------------
受付中・結果発表タブ
-------------------------------------------------------------------*/
.box-tabs{
    background:#f39700;
    padding-top:8px;
    font-size:16px;
}

.box-tabs ul{
    width:94%;
    overflow:hidden;
    margin:0 auto;
}
.box-tabs ul li {
    width:48%;
    float:left;
    background: #fffcdb;
    color: #3e3a39;
    border: 1px solid #facd89;
    padding:0;
    line-height:1.5em;
    text-align:center;
}
.box-tabs ul li:last-child{
    float:right;
}
.box-tabs ul li.active{
    background: #fff;
    border: 1px solid #facd89;
    border-bottom: 1px solid #fff;
    padding-bottom:8px;
}
.box-tabs ul li a{
    display:block;
    color:#595757;
}
.box-tabs ul li span{
    display:inline-block;
    padding:10px 0px 10px 35px;
    color:#595757;
}
.box-tabs ul li span.iconEntry{
    background: url(../images/sp/icon_entrytab.png) no-repeat left center;
    background-size:28px 29px;
    
}
.box-tabs ul li span.iconResult{
    background: url(../images/sp/icon_resulttab.png) no-repeat left center;
    background-size:28px 29px;
}


/*------------------------------------------------------------------
その他
-------------------------------------------------------------------*/

.totalCount{
    text-align:right;
    font-size:12px;
    margin-top:10px;
    margin-bottom:10px;
}

.keywords{
    background:#fffcdb;
    text-align:left;
    padding:10px 3%;
    margin-bottom:15px;
}
.keywords .words{
    width:100%;
    margin-top:5px;
}
.keywords .words li{
    display:inline-block;
    font-size:14px;
}
.keywords .words li a{
    display:inline-block;
    padding:3px 5px 3px 0;

    text-decoration:underline;
}

