@charset "UTF-8";

/**************** PROFILE **************************/

/*------------------------------------------------------------------
見出し
-------------------------------------------------------------------*/
h2.profileTit{
    background:#f39700 url(../images/sp/icon_profile.png) no-repeat 5px center;
    background-size:18px 18px;
    font-size:16px;
    color:#fff;
    text-align:left;
    padding:8px 2% 8px 30px;
    position:relative;
    font-weight:bold;
}


/*------------------------------------------------------------------
フォーム
-------------------------------------------------------------------*/
dl.profileDL{
    margin:20px 0% 20px 2%;
}
dl.profileDL dt{
    position:absolute;
    width:60px;
    background-color:#eee;
    padding:5px 0px 5px 5px;
    font-size:14px;
    white-space:nowrap;
}
dl.profileDL dd{
    padding:0px 5px 5px 70px;
    font-size:12px;
}
dl.profileDL dd select{
    font-size:16px;
}

/*------------------------------------------------------------------
プロフィール案内
-------------------------------------------------------------------*/
.profileInfo{
    margin:20px 2%;
    border:1px solid #ccc;
    -webkit-border-radius:5px;
    border-radius:5px;
    padding:10px;
}

.profileInfo .profileInfoTit{
    color:#f39700;
    margin-bottom:10px;
}
