@charset "UTF-8";

/*
* reset.css
*
*/


/*--------
 Reset CSS
--------------*/

body{
    -webkit-text-size-adjust: none;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
	line-height: 1.2;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}
table {
	margin:0;
	padding:0;
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}

q:before,q:after {
	content:'';
}
abbr,acronym {
    border:0;
}

/*-----clearfix-----*/

.clearfix:after {
  content: ".";  
  display: block;  
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

