@charset "UTF-8";

/**************** RESULT **************************/

/*------------------------------------------------------------------
見出し
-------------------------------------------------------------------*/
h2.resultTit{
    background:#f39700 url(../images/sp/icon_result.png) no-repeat 5px center;
    background-size:18px 18px;
    font-size:16px;
    color:#fff;
    text-align:left;
    padding:8px 2% 8px 30px;
    position:relative;
    font-weight:bold;
}

/*------------------------------------------------------------------
設問
-------------------------------------------------------------------*/
.questionInfoBox{
    width:100%;
    margin-top:20px;
    margin-bottom:0px;
}
.questionInfoBox h1{
    font-size:16px;
    color:#000;
    padding-bottom:5px;
    margin-bottom:5px;
    border-bottom:2px solid #f39700;
}
.questionInfoBox .questionText{
    font-size:14px;
}

.restraintResultInfo{
    font-size:12px;
}

.entryCountInfo{
    background-color:#FFFCDB;
    padding:5px;
    text-align:center;
    font-size:14px;
}

/*------------------------------------------------------------------
結果コメント
-------------------------------------------------------------------*/
.resultCommentArea{

}
.resultCommentArea .resultComment{
    border:1px solid #f39700;
    padding:5px;
}

.resultCountInfo{
    background-color:#FFFCDB;
    padding:5px;
    text-align:center;
    font-size:14px;
}

/*------------------------------------------------------------------
結果タブ
-------------------------------------------------------------------*/
ul.resulttabs{
    width: 100%;
    display: box;
    display: -moz-box; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    font-size:14px;
    border-top:5px solid #f39700;
}
ul.resulttabs > li {
    box-flex: 1;
    -moz-box-flex: 1; 
    -webkit-box-flex: 1;
    -ms-flex: 1; 
    color:#3e3a39;
    border-right:1px #b2b2b2 solid;
    border-bottom:1px #b2b2b2 solid;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); 
    background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
    text-align:center;
}
ul.resulttabs > li.active{
    color: #3e3a39;
    background: #fff;
    border-bottom:1px #fff solid;
    font-size:16px;
}
ul.resulttabs > li a{
    padding: 5px 0;
    color: #3e3a39;
    display:block;
}
ul.resulttabs > li:last-child{
    border-right:none;
}

/*------------------------------------------------------------------
ランキング
-------------------------------------------------------------------*/
.resultBox{
    padding:10px 0px;
}
.resultBox .rankingTit,.resultBox .mapTit{
    border-top:1px solid #f39700;
    border-bottom:1px solid #f39700;
    padding:5px;
    font-size:16px;
    font-weight:bold;
    text-align:center;
    color:#f39700;
    background-color:#FFFCDB;
}

.resultTable{

}
.resultTable table{
    width:100%;
}
.resultTable table td{
    border-bottom:1px solid #ccc;
    padding:2px;
}
.resultTable table td.my{
    width:20px;
}
.resultTable table td.my img{
    width:100%;
}
.resultTable table td.rank{
    width:35px;
    text-align:center;
    vertical-align:center;
}
.resultTable table td.rank span{
    width:25px;
    height:25px;
    display:inline-block;
    text-align:center;
    line-height:25px;
    color:#fff;
    font-size:16px;
    font-weight:bold;
    background-color:#888888;
}
.resultTable table tr.my td{
	background:#fae6f7;
}
.resultTable table tr.rankNo1 td.rank span{
    background:url(../images/sp/lank1.png) no-repeat center top;
    background-size:35px;
    width:35px;
    height:20px;
    padding-top:5px;
    line-height:20px;
}
.resultTable table tr.rankNo2 td.rank span{
    background-color:#F1BD00;
}
.resultTable table tr.rankNo3 td.rank span{
    background-color:#77BB18;
}
.resultTable table tr.rankNo4 td.rank span{
    background-color:#2D82CF;
}
.resultTable table tr.rankNo5 td.rank span{
    background-color:#7758A2;
}


.resultTable table td.answer{

}
.resultTable table td.answer .barArea span{
    display:inline-block;
    background-color:#888888;
    height:14px;
}
.resultTable table tr.rankNo1 td.answer .barArea span{
    background-color:#E70012;
}
.resultTable table tr.rankNo2 td.answer .barArea span{
    background-color:#F1BD00;
}
.resultTable table tr.rankNo3 td.answer .barArea span{
    background-color:#77BB18;
}
.resultTable table tr.rankNo4 td.answer .barArea span{
    background-color:#2D82CF;
}
.resultTable table tr.rankNo5 td.answer .barArea span{
    background-color:#7758A2;
}


.resultTable table td.data{
    width:80px;
    text-align:right;
	font-size:14px !important
}


.resultTable table tr.otherRanking{
    display:none;
}


/*------------------------------------------------------------------
属性
-------------------------------------------------------------------*/

.profileChoice {

}
.profileChoice table{
    width:100%;
    border-top:1px solid #ccc;
}
.profileChoice table tr{
    cursor:pointer;
}
.profileChoice table tr.active td{
    background-color:#eee
}
.profileChoice table tr.active td.attribute{
    background:#eee url(../images/sp/attractive.png) no-repeat left center;
    background-size:4px;
}
.profileChoice table td{
    border-bottom:1px solid #ccc;
    padding:5px 2px;
}
.profileChoice  table td.attribute{
    width:80px;
    padding-left:10px;
}
.profileChoice  table td.rank{
    width:35px;
    text-align:center;
    vertical-align:center;
}
.profileChoice table tr td.rank span{
    display:inline-block;
    text-align:center;
    color:#fff;
    font-size:16px;
    font-weight:bold;
    background:url(../images/sp/lank1.png) no-repeat center top;
    background-size:35px;
    width:35px;
    height:20px;
    padding-top:5px;
    line-height:20px;
}

.attrCount{
    text-align:right;
    font-size:12px;
    margin:10px 0px;
}

/*------------------------------------------------------------------
都道府県アコーディオン
-------------------------------------------------------------------*/
ul.prefOpen p.btn_all{
    text-align:right;
}
ul.prefOpen p.btn_all span{
    margin-right:2%;
    position: relative;
    display: inline-block;
    padding: 5px 20px 5px 10px;
    margin-bottom:5px;
    color:#FFF;
    border-radius: 5px; 
    -webkit-border-radius: 5px;
    font-size:12px;
    cursor:pointer;
    background:#f39700 url(../images/sp/arrow04.png) no-repeat 95% center;
    background-size:12px 9px;
}

ul.prefOpen .profileChoice{
    display:none;
}
/*------------------------------------------------------------------
平均値
-------------------------------------------------------------------*/
.avgData{
    text-align:center;
    color:#000;
    font-size:16px;
    margin:10px 0px;
}

/*------------------------------------------------------------------
日本地図
-------------------------------------------------------------------*/
.japanmap {

}
.japanmap table{
    margin-left:auto;
    margin-right:auto;
}
.japanmap table td{
    border:1px solid #fff;
    vertical-align:middle;
    text-align:center;
    color:#fff;
    font-weight:bold;
    padding:2px 0px;
    background:#888888;
}
.japanmap table td.hidden{
    background:#fff;
    font-size:1px;
}

.japanmap table td.w30{width:3%;}
.japanmap table td.w60{width:6%;}


.japanmap table td.max.hokkaidou{padding:19px 0;}
.japanmap table td.boR2{border-right:2px solid #86c2fe;}
.japanmap table td.boRB2{border-right:2px solid #86c2fe; border-bottom:2px solid #86c2fe;}
.japanmap  table td.boB2{border-bottom:2px solid #86c2fe;}

.japanmap table td.rank1{background:#E70012;}
.japanmap table td.rank2{background:#F1BD00;}
.japanmap table td.rank3{background:#77BB18;}
.japanmap table td.rank4{background:#2D82CF;}
.japanmap table td.rank5{background:#7758A2;}


/*------------------------------------------------------------------
コラム
-------------------------------------------------------------------*/
.columnBox{
    height:120px;
    overflow:hidden;
}
.columnBox .columnTit{
    font-size:16px;
    color:#000;
    padding-bottom:5px;
    margin-bottom:5px;
    border-bottom:1px solid #f39700;
}
.columnBox .columnContents{
    font-size:14px;
}
.columnBlock a.nextNavi{
    display:block;
    color:#333;
    text-align:center;
    padding:10px;
    text-decoration:none;
    background-color:#eee;
    font-size:14px;
}

/*------------------------------------------------------------------
評価
-------------------------------------------------------------------*/
.evaluateBlock{

}
.evaluateBlock ul{
    text-align:center;
}
.evaluateBlock ul li{
    display:inline-block;
    margin:0px 1%;
    padding:5px;
    border:1px solid #fff;
    border-radius:5px;
    -webkit-border-radius:5px;
}
.evaluateBlock ul.evaluatePost li{
    border:2px solid #CCCCCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%);
    background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
    cursor:pointer;
}
.evaluateBlock ul li img{
    display:block;
    width:80px;
}
.evaluateBlock ul li span.evaluateCount{
    display:block;
    text-align:center;
}
.evaluateBlock ul.evaluatePost li span.evaluateCount{

}
.evaluateBlock p.date{
    padding-top:5px;
    margin:0px 2%;
    text-align:right;
    font-size:10px;
}

/*------------------------------------------------------------------
アプリ＆サイトピックアップタイトル非表示
-------------------------------------------------------------------*/
#cpsitePU_list h2{
    display:none;
}

