@charset "UTF-8";

/**************** TOP **************************/

/*------------------------------------------------------------------
受付中結果発表
-------------------------------------------------------------------*/
.entryResultBox .box{
    margin:15px 2%;
}

/* tab */
.entryResultBox .box-tabs{
    background:#f39700;
    padding-top:8px;
    font-size:20px;
}

.entryResultBox .box-tabs ul{
    width:94%;
    overflow:hidden;
    margin:0 auto;
}
.entryResultBox .box-tabs ul li {
    width:48%;
    float:left;
    background: #fffcdb;
    color: #3e3a39;
    border: 1px solid #facd89;
    padding:0;
    line-height:1.5em;
    text-align:center;
}
.entryResultBox .box-tabs ul li:last-child{
    float:right;
}
.entryResultBox .box-tabs ul li.active{
    background: #fff;
    border: 1px solid #facd89;
    border-bottom: 1px solid #fff;
    padding-bottom:8px;
}
.entryResultBox .box-tabs ul li a{
    display:block;
    color:#595757;
}
.entryResultBox .box-tabs ul li a span{
    display:inline-block;
    padding:10px 0px 10px 35px;
}
.entryResultBox .box-tabs ul li a span.iconEntry{
    background: url(../images/sp/icon_entrytab.png) no-repeat left center;
    background-size:28px 29px;
    
}
.entryResultBox .box-tabs ul li a span.iconResult{
    background: url(../images/sp/icon_resulttab.png) no-repeat left center;
    background-size:28px 29px;
}


/* keyword */
.entryResultBox .box{
    margin-bottom:15px;
}
.entryResultBox .box .keywords{
    background:#fffcdb;
    text-align:left;
    padding:10px 3%;
    margin-bottom:15px;
	font-size:14px;
}
.entryResultBox .box .keywords h3{
    font-size:14px;
    color:#3e3a39;
    padding-bottom:5px;
    border-bottom:1px #d3d3d4 solid;
    font-weight:bold;
}
.entryResultBox .box .keywords .words{
    width:100%;
    margin-top:5px;
}
.entryResultBox .box .keywords .words li{
    display:inline-block;
}
.entryResultBox .box .keywords .words li a{
    display:inline-block;
    padding:3px 5px 3px 0;
 	font-size:14px;
	text-decoration:underline;
}

/* pushContents */
.entryResultBox .box .pushContents{
    padding:10px 0 0 0;
    border:1px #f39800 solid;
    background:#fdf9f1;
    text-align:left;
}

.entryResultBox .box .pushContents h3{
    font-size:14px;
    padding-bottom:10px;
    color:#f39700;
    border-bottom:1px #f39800 solid;
    padding:0 2% 10px;
    background:none;
    font-weight:bold;
}
.entryResultBox .box .pushContents a{
    color: #3e3a39;
}
.entryResultBox .box .pushContents .pushInfo{
    width:94%;
    padding:10px 2% 0;
}
.entryResultBox .box .pushContents .pushInfo p.pushText{
    font-size:14px;
    margin-bottom:10px;
    background:#FDF9F1 url(../images/sp/arrow01.png) no-repeat 99% center;
    background-size:9px 12px;
    color: #3e3a39;
}

.entryResultBox .box .pushContents .pushInfo ul{
    margin-bottom:10px;
}
.entryResultBox .box .pushContents .pushInfo ul li a{
    text-decoration:underline;
}

/*------------------------------------------------------------------
TOP 評価タブ
-------------------------------------------------------------------*/

.tabs02{
    width: 100%;
    display: box;
    display: -moz-box; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    font-size:14px;
}
.tabs02 > li {
    box-flex: 1;
    -moz-box-flex: 1; 
    -webkit-box-flex: 1;
    -ms-flex: 1; 
    color:#3e3a39;
    border-right:1px #b2b2b2 solid;
    border-bottom:1px #b2b2b2 solid;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); 
    background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%);
    text-align:center;
}
.tabs02 > li.active{
    color: #3e3a39;
    background: #FDF9F1;
    border-bottom:1px #FDF9F1 solid;
}
.tabs02 > li a{
    padding: 10px 0;
    color: #3e3a39;
    display:block;
}
.tabs02 > li:last-child{
    border-right:none;
}

.tabs02 > li a img{
    width:80px;
}


